services:
  - name: users-admin-backend
    type: web
    env: node
    region: frankfurt
    plan: free
    rootDir: backend
    buildCommand: npm install
    startCommand: node index.js
    autoDeploy: true
    envVars:
      - key: NODE_ENV
        value: production
      - key: JWT_SECRET
        value: supersecret
      - key: DB_HOST
        value: localhost
      - key: DB_USER
        value: root
      - key: DB_PASSWORD
        value:
      - key: DB_NAME
        value: users
      - key: SMTP_HOST
        sync: false
      - key: SMTP_PORT
        sync: false
      - key: SMTP_USER
        sync: false
      - key: SMTP_PASS
        sync: false
      - key: SMTP_FROM
        sync: false
      - key: DEMO_EMAIL
        sync: false
      - key: DEMO_PASSWORD
        sync: false

  - name: users-admin-frontend
    type: static_site
    env: static
    region: frankfurt
    plan: free
    rootDir: frontend
    buildCommand: npm install && npm run build
    publishPath: dist
    autoDeploy: true
    envVars:
      - key: VITE_API_URL
        value: https://authorization-app-j376.onrender.com