services:
  - name: users-admin-backend
    type: web
    env: node
    rootDir: backend
    buildCommand: npm install
    startCommand: node index.js
    autoDeploy: true
    envVars:
      - key: NODE_ENV
        value: production
      - key: JWT_SECRET
        value: supersecret
      - key: DATABASE_URL
        value: postgresql://users_822u_user:aTPefSlD3WbcKQP8KmumcUvTAymmS5Sc@dpg-d63j2175r7bs73d98hlg-a.virginia-postgres.render.com/users_822u

  - name: users-admin-frontend
    type: web
    env: static
    rootDir: frontend
    buildCommand: npm install && npm run build
    staticPublishPath: dist
    autoDeploy: true
    envVars:
      - key: VITE_API_URL
        value: https://users-admin-backend.onrender.com
